<style>
body {
	background: url(image/foodcubes.jpg) no-repeat center center fixed;
	background-size: cover;
}

.card-image {
	max-height: 150px; /* Adjust the maximum height of the card image */
	max-width: 150px;
}

.text-exempt {
	position: relative; /* Ensure z-index works */
	z-index: 1; /* Place the text above the background */
	opacity: 1; /* Make text fully opaque */
	color: #000;
	/* Set text color to white (or your preferred dark color) */
}

.has-bg-image {
	position: relative;
}

.has-bg-image {
	background-image: url(./image/granbg.jpg);
	background-size: cover;
	position: relative;
	opacity: 0.5; /* Adjust the opacity of the background image */
	z-index: -1;
	color: #000;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
	/* Add a subtle white text shadow for better visibility */
}

.card {
	position: relative;
	z-index: 0;
}

.card-body {
	position: relative;
	z-index: 1;
}
.custom-img{
	width: 200px;
	height: 200px;
	object-fit: cover;

}
</style>
<div class="card mt-3">
	<div class="card-header text-dark bg-secondary">
		<h4>Meal Plan Id: {{mealPlan.id}}</h4>
		<h4>Meal Plan Name: {{mealPlanNameCurrent}}</h4>
		<!-- Input field for updating the meal plan name -->
		<div class="form-group">
			<label for="mealPlanName">New Meal Plan Name:</label> 
			<input type="text" class="form-control" id="mealPlanName"
				ng-model="mealPlan.mealPlanName">
		</div>
		<button class="btn btn-success" ng-click="updateMealPlan()">Update
			Meal Name</button>
		<button class="btn btn-success" ng-click="goToRecipeBrowse()">Browse Recipes to Add</button>
		<button class="btn btn-danger" ng-click="deleteMealPlan()">Delete Meal Plan</button>
		<span class="float-bottom"></span> Search: <input type="text"
			maxlength="15" ng-model="searchValue">
	</div>
	<div class="card-body shadow">
		<div class="card-columns">
			<div class="card mx-auto shadow"
				 ng-repeat="recipe in mealPlan.recipes | filter: searchValue" 
				 ng-click="goToRecipeView(recipe.id)">
					<img class="custom-img img-thumbnail card-img-top card-image"
						ng-src="{{recipe.imageUrl}}" alt="recipe image">
					<div class="card-body has-bg-image">
						<h5 class="card-title text-exempt">{{recipe.name}}</h5>
						<p class="card-text text-exempt">{{recipe.recipeUrl |
							limitTo:30}}...</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Recipe Added:
							{{recipe.createDateTime}}</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-secondary bg-dark"></div>
