<div class="card mt-3">
	<div class="card-header text-secondary bg-dark">
		<h4>Search For Recipes</h4>
		<button class="btn btn-success"	ng-click="getAllRecipes()">Refresh recipes</button>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
				    <th>Recipe Id</th>
					<th>Name</th>
					<th>Recipe URL</th>
					<th>Image</th>
					<th>Create Date</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="recipe in recipes" ng-click="goToRecipeView(recipe.id)">
					<td>{{recipe.id}}</td>
					<td>{{recipe.name}}</td>
					<td>{{recipe.recipeUrl}}</td>
					<td>{{recipe.imageUrl}}</td>
					<td>{{recipe.createDateTime}}</td>								
				</tr>
			</tbody>		
		</table>	
	</div>
	<div class="card-footer text-secondary bg-dark">
		Please select a recipe for update/delete
	</div>
</div>
